.Glare {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateZ(1.4px);
  background: radial-gradient(
    farthest-corner circle at var(--gx) var(--gy),
    rgba(255, 255, 255, 0.8) 10%,
    rgba(255, 255, 255, 0.65) 20%,
    rgba(0, 0, 0, 0.5) 90%
  );
  mix-blend-mode: overlay;
  opacity: var(--go);
  border-radius: 10px;
}
